/build
/bin

# Ignore all assets. Download them from google drive instead
/assets/*

// Except the info file, so the assets folder remains on GitHub
!/assets/info.txt

# GitHub's default for C++ below ---------------------------------------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
